.brown {
    color: #FFB22C !important;
}

.pink {
    color: #FF4191 !important;
}

.green {
    color: #31d7a9 !important;
}

.white {
    color: white !important;
}

.bold {
    font-weight: 700;
}